/*general body styles*/
body {
    background-color:rgb(251, 206, 219);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
/*game board*/
.board {
    text-align: center;
    background-color: rgb(253, 241, 244);
    padding: 100px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/*header*/
.heading {
    display: flex;
}
/*game grid*/
.game {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    width: 300px;
    height: 300px;
    margin: 0;
}
/*cell boxes*/
.box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border: 3px solid #000;
}
/*reset button*/
.reset {
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 4px;
}


  
  
